@media (min-width:992px) and (max-width:1300px) {
    /*start header section*/ 
    header{
        .header-details{
            .website-logo{
                width: 19% !important;
            }
        }

        nav{
            .nav-item{
                .nav-link{
                    padding: 15px 5px !important;
                }
            }
        }
    }
    /*end header section*/ 

    /*start intro section*/ 
    .intro{
        .nav-pills{
            .nav-link{
                font-size: 15px !important;
            }
        }
    }
    /*end intro section*/ 
}



@media (min-width:1600px) {
    .intro{
        height: 650px;
        // min-height: 900px;
        // margin-bottom: 10%;
        .row {
            height: 100%;
        }
        .home-tabs{
            height: 100%;
        }

        .carousel{
            height: 100%;
            .carousel-inner {
                height: 100%;
            }
            img{
                object-fit: fill;
                width: 100%;
                height: 650px;
            }
        }
    }

}