@media (max-width:767px) {
    /*start index page*/

    /*start header section*/
    header {
        .header-details {
            display: none;
        }

        nav {
            margin-top: 25px;
        }

        .mobile-header-details {
            display: flex;
        }

        nav {
            background-color: $main-color;

            .navbar-brand {
                display: inline-block;
                width: 50%;
                height: 80px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    /*end header section*/

    /*start intro section*/
    .intro {
        .carousel {
            margin-top: 15%;
            min-height: 80vh;

            .carousel-inner {
                min-height: 80vh;

                .carousel-item {
                    min-height: 80vh;

                    img {
                        width: 100%;
                        min-height: 80vh;
                        object-fit: cover;
                    }
                }
            }

            .carousel-caption {
                left: 3%;
                right: 3%;
                width: 95%;
                margin: 25% 0 0% 0;
            }
        }
    }

    /*end intro section*/




    /*start fixed section*/
    .fixed-section {
        background-size: contain;
        padding-top: 5%;
        min-height: 270px;

        .fixed-overlay {
            h2 {
                margin-top: 35px;
            }
        }
    }

    /*end fixed section*/


    footer {
        .footer-social {
            margin: 15px 0px;

            a {
                margin: 0px 3px;
                width: 35px;
                height: 35px;
                font-size: 21px;

            }
        }

        .rights {
            p {
                text-align: center;
            }
        }
    }

    /*end index page*/


    /*start blog page*/

    .sub-intro-content {
        nav {
            display: flex;
            align-items: center;
        }

        flex-wrap: wrap;
    }

    /*eng blog page*/

    /*start contact page*/
    .contact-intro {
        min-height: 185px;
    }

    .contact-form {
        margin: 15px 0px;
    }

    /*end contact page*/


    /*start article page*/
    .article-intro {
        h1 {
            width: 100%;
            font-size: 35px;
        }

    }

    .articles {
        .article-details {
            .article-img {
                width: 100% !important;
            }
        }
    }

    /*end article page*/


    /*start add new property page*/
    .add-property-sec {
        form {
            .first-row {
                flex-wrap: wrap;

                .form-group {
                    margin-bottom: 15px !important;
                }
            }


        }
    }

    /*end add new property page*/


    /*start partnership page*/
    .partnership {

        .partnership-form {
            width: 100% !important;
        }
    }

    /*end partnership page*/

    /*start profile pages*/
    .profile {
        .profile-card {
            margin-top: 10%;
            margin-bottom: 5%;
        }

        .profile-property-tabs {
            .nav-pills {
                .nav-item {
                    width: 100%;

                    .nav-link.active {
                        border-top: 0px solid #092531;
                        border-right: 0px solid #092531;
                        border-left: 0px solid #092531;
                        border-bottom: 1px solid #092531;
                        border-radius: 0px 0px 0px 0px;
                    }
                }
            }

            .dataTables_length {
                margin: 25px 0px;
            }
        }

        .dataTables_wrapper .dataTables_paginate {
            margin-bottom: 35px;
        }
    }

    /*end profile pages*/

    /*start single project page*/

    .single-project .single-project-details .single-item .projects-tabs .nav-pills .nav-item {
        width: 100%;
    }

    .single-project .single-project-details .single-item .projects-tabs .nav-pills .nav-link.active {
        border-top: 0px solid #092531;
        border-right: 0px solid #092531;
        border-left: 0px solid #092531;
        border-bottom: 1px solid #092531;
        border-radius: 0px 0px 0px 0px;
    }

    .single-project .single-project-details .single-item .item-ul ul{
        columns: 1;
    }

    /*end single project page*/


    /*start unity details page*/
    .unity-details{
        .single-unity-details{
            padding-top: 3%;
            .unity-detail{
                h5{
                    font-size: 18px;
                    margin-top: 15px;
                }
            }

            
        }

        .unity-Additional{
            ul {
                columns: 1;
            }
        }
    }
    /*end unity details page*/


    /*start reset page*/
    .reset-section {
        .reset-details {
            width: 100%;

            .form-group {
               
                label {
                    font-weight: 600;
                    color: #000;
                    margin: 5px 10px;
                    font-size: 18px;
                }
    
            }

        }
    }

    .reset-new{
        .form-group {
            flex-wrap: wrap;
           
            label {
                font-weight: 600;
                color: #000;
                font-size: 16px !important;
                width: 100%;
                margin-bottom: 0px 0px 10px 0px !important;
            }
    
        }
    
    }
    /*end reset page*/
}