@media(min-width:768px) and (max-width:991px) {
    /*start header section*/
    header{
        .header-details {
            display: none;
        }

        nav{
            margin-top: 25px;
            .navbar-collapse{
                text-align: center;
                .nav-item{
                    margin: 10px 0px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.04);
                    padding-bottom: 8px;
                    .nav-link{
                        color: rgb(131, 136, 147);
                    }
                }
            }
        }

        .mobile-header-details {
            display: flex;
            padding: 10px 11%;
        }

        nav {
            background-color: $main-color;

            .navbar-brand {
                display: inline-block;
                width: 30%;
                height: 80px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    /*end header section*/ 

    /*start footer section*/ 
    footer{
        .footer-social{
            a{
                width: 35px !important;
                height: 35px !important;
                margin-right: 5px;
                font-size: 19px !important;
            }
        }
    }
    /*end footer section*/ 

     /*start add new property page*/ 
     .add-property-sec{
        form{
            .first-row{
                flex-wrap: wrap;

                .form-group{
                    margin-bottom: 15px !important;
                }
            }

            .third-row{
                .facilities{
                    .form-check{
                        label{
                            margin-#{$start}: 0px !important;
                        }
                    }
                }
            }
        }
    }
    /*end add new property page*/


    /*start single project page*/ 
    .single-project .single-project-details .single-item .projects-tabs .nav-pills .nav-link{
        font-size: 15px;
    }
    /*end single project page*/ 
}