@media (max-width:767px) {
    /*start index page*/

    /*start header section*/
    header {
        .header-details {
            display: none;
        }

        nav{
            margin-top: 25px;
        }

        .mobile-header-details {
            display: flex;
        }

        nav {
            background-color: $main-color;

            .navbar-brand {
                display: inline-block;
                width: 50%;
                height: 80px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    /*end header section*/

    /*start intro section*/
    .intro {
        .carousel {
            margin-top: 15%;
            min-height: 80vh;
            .carousel-inner{
                min-height: 80vh;
                .carousel-item{
                    min-height: 80vh;
                    img{
                        width: 100%;
                        min-height: 80vh;
                        object-fit: cover;
                    }
                }
            }

            .carousel-caption{
                left: 3%;
                right: 3%;
                width: 95%;
                margin: 25% 0 0% 0;
            }
        }
    }

    /*end intro section*/




    /*start fixed section*/
    .fixed-section {
        background-size: contain;
        padding-top: 5%;
        min-height: 270px;

        .fixed-overlay {
            h2 {
                margin-top: 35px;
            }
        }
    }

    /*end fixed section*/


    footer {
        .footer-social {
            margin: 15px 0px;

            a {
                margin: 0px 3px;
                width: 35px;
                height: 35px;
                font-size: 21px;

            }
        }

        .rights {
            p {
                text-align: center;
            }
        }
    }

    /*end index page*/


    /*start blog page*/ 

    .sub-intro-content{
        nav{
            display: flex;
            align-items: center;
        }

        flex-wrap: wrap;
    }
    
    /*eng blog page*/ 

    /*start contact page*/ 
    .contact-intro{
        min-height: 185px;
    }

    .contact-form{
        margin: 15px 0px;
    }
    /*end contact page*/ 


    /*start article page*/ 
    .article-intro{
        h1{
            width: 100%;
            font-size: 35px;
        }

    }

    .articles{
        .article-details {
            .article-img{
                width: 100% !important;
            }
        }
    }
    /*end article page*/ 


    /*start add new property page*/ 
    .add-property-sec{
        form{
            .first-row{
                flex-wrap: wrap;

                .form-group{
                    margin-bottom: 15px !important;
                }
            }

            
        }
    }
    /*end add new property page*/


    /*start partnership page*/ 
    .partnership {
       
        .partnership-form {
            width: 100% !important;
        }
    }
    
    /*end partnership page*/ 
}
