* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  -moz-border: 0;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: Helvetica, sans-serif;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

ul {
  list-style-type: none;
  margin: 0px !important;
  padding: 0px !important;
}

select::-moz-placeholder {
  text-align: left;
}

select:-ms-input-placeholder {
  text-align: left;
}

select::placeholder {
  text-align: left;
}

a {
  text-decoration: none !important;
}

/*start Global classes*/
.section-title {
  margin-bottom: 35px;
  color: #3a464e;
}

.select2-container .select2-selection--single {
  height: 38px !important;
  border-radius: 5px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 36px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 5px !important;
}

#date {
  border-radius: 5px;
}

.form-control:focus {
  box-shadow: none !important;
}

.form-select {
  color: #999;
}

.standard-card {
  position: relative;
  height: 280px;
  display: block;
  border: 1px solid #cb9b4d;
  border-radius: 15px;
  background-color: #ffffff;
  margin-bottom: 25px;
  transition: all 0.3s ease-in-out;
}
.standard-card .standard-card-link {
  width: 100%;
  height: 100%;
  display: block;
}
.standard-card .standard-card-link .card-title {
  padding: 0px 5px 0px 10px;
  margin: 15px 0px 10px 0px;
  font-size: 18px;
  font-weight: bold;
  color: #092531;
  text-align: left;
}
.standard-card .standard-card-link .property-tag {
  position: absolute;
  top: 10px;
  right: 5px;
  background-color: #092531;
  color: #ffffff;
  padding: 5px;
  z-index: 9;
  font-size: 12px;
  border-radius: 5px;
  padding: 5px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.standard-card .standard-card-link .standard-card-img {
  width: 100%;
  height: 60%;
  position: relative;
}
.standard-card .standard-card-link .standard-card-img img {
  width: 100%;
  height: 100%;
  border-radius: 9px 9px 0px 0px;
}
.standard-card .standard-card-link .price {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 10px;
  width: 100%;
  padding: 0px 5px;
}
.standard-card .standard-card-link .price span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cb9b4d;
  color: #ffffff;
  font-size: 12px;
  border-radius: 5px;
  padding: 3px 12px;
  max-height: 27px;
}
.standard-card .standard-card-link .price h6 {
  color: #ffffff;
  font-size: 23px;
  margin-top: 4px;
  font-weight: 700;
}
.standard-card .standard-card-link .location {
  display: flex;
  margin-top: 25px;
  padding: 0px 10px;
  color: #092531;
}
.standard-card .standard-card-link .location span {
  margin: 0px 5px;
}
.standard-card:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.property-color-bar {
  background: #cb9b4d;
  height: 4px;
  width: 0;
  position: absolute;
  z-index: 20;
  bottom: 0;
  transition: all 0.4s;
}

.standard-card:hover .property-color-bar {
  width: 100%;
}

.view-all {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px auto;
  background-color: #092531;
  border-radius: 5px;
  padding: 10px 15px;
  max-width: 110px;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
}
.view-all:hover {
  color: #fff;
}

.footer-social-link, footer .footer-social .whatsapp, footer .footer-social .linked-in, footer .footer-social .youtube, footer .footer-social .twitter, footer .footer-social .instagram, footer .footer-social .facebook {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  transition: all 0.3s ease-in;
}
.footer-social-link:hover, footer .footer-social .whatsapp:hover, footer .footer-social .linked-in:hover, footer .footer-social .youtube:hover, footer .footer-social .twitter:hover, footer .footer-social .instagram:hover, footer .footer-social .facebook:hover {
  background-color: #ffffff;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  left: 0;
  border-radius: 0px;
  padding: auto 8%;
  margin-top: 0px;
}
.sticky .navbar-nav {
  justify-content: center !important;
}
.sticky .navbar-nav .nav-item .nav-link {
  padding: 15px !important;
}

.paginationg {
  margin: 35px auto;
  text-align: center;
  direction: ltr;
}
.paginationg .navigation {
  width: 60%;
}
.paginationg .page-item {
  margin: 0px 10px !important;
  background-color: #ffffff !important;
  color: #3a464e !important;
}
.paginationg .page-item a {
  color: #3a464e !important;
}
.paginationg .active > .page-link,
.paginationg .page-link.active {
  background-color: #cb9b4d !important;
  color: #ffffff !important;
  border: 1px solid #cb9b4d;
}
.paginationg .page-link:focus {
  box-shadow: none !important;
}

.breadcrumb-item::before {
  float: left !important;
}

/*end Global classes*/
/*start header section*/
header {
  background-color: #092531;
  padding: 25px 0px;
}
header .mobile-header-details {
  display: none;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  margin-bottom: 15px;
  z-index: 99999;
  top: 0;
  left: 0;
  padding: 10px 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
header .mobile-header-details a {
  color: #ffffff;
  font-size: 20px;
}
header .mobile-header-details a::before {
  content: "";
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  display: inline-block;
}
header .mobile-header-details .mob-header-search button {
  background-color: #092531;
  color: #ffffff;
  width: 45%;
  height: 35px;
  margin: 15px auto;
  border-radius: 8px;
  display: block;
}
header .header-details {
  display: flex;
}
header .header-details .website-logo {
  width: 30%;
  height: 100px;
  margin-right: 100px;
  display: block;
}
header .header-details .website-logo img {
  width: 200px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
header .header-details .header-info {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin-top: 3%;
}
header .header-details .header-info .header-search {
  width: 275px;
  height: 45px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 5px 10px 5px 5px;
}
header .header-details .header-info .header-search form {
  display: flex;
  width: 100%;
  height: 100%;
}
header .header-details .header-info .header-search form button {
  background-color: transparent;
}
header .header-details .header-info .header-search form input {
  background-color: transparent;
  border: 0px !important;
}
header .header-details .header-info .header-contact {
  display: flex;
  height: 80px;
}
header .header-details .header-info .header-contact p {
  color: #ffffff;
  margin-bottom: 0px;
  font-size: 14px;
}
header .header-details .header-info .header-contact a {
  color: #ffffff;
  font-size: 16px;
}
header .header-details .header-info .header-contact span {
  display: block;
  color: #ffffff;
  margin-right: 15px;
  font-size: 30px;
}
header nav {
  background-color: #cb9b4d;
  border-radius: 10px;
  padding: 0px !important;
}
header nav .navbar-brand {
  display: none;
}
header nav .nav-item {
  transition: all 0.2s ease-in;
}
header nav .nav-item:hover {
  background-color: #ffffff;
  color: #3a464e !important;
}
header nav .nav-item .nav-link {
  padding: 15px 10px !important;
  transition: all 0.2s ease-in;
  font-size: 15px !important;
}
header nav .nav-item .nav-link:hover {
  color: #3a464e !important;
}
header nav .nav-item .dropdown-menu {
  margin-top: -1px !important;
}
header nav .nav-item .dropdown-menu .dropdown-item {
  color: #333;
  font-size: 15px !important;
  font-weight: 500;
}
header nav .nav-item .nav-link {
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
}
header nav .navbar-nav {
  justify-content: space-around !important;
  width: 100%;
}

/*end header section*/
/*start intro section*/
.intro {
  margin: 2% 0%;
}
.intro .home-tabs {
  border: 10px solid #cb9b4d;
  padding: 10px;
  height: 100%;
}
.intro .home-tabs .nav-pills {
  width: 100%;
}
.intro .home-tabs .nav-pills .nav-item {
  width: 50%;
  text-align: center;
}
.intro .home-tabs .nav-pills .nav-link {
  color: #3a464e;
}
.intro .home-tabs .nav-pills .nav-link.active {
  background-color: transparent;
  border-top: 1px solid #092531;
  border-right: 1px solid #092531;
  border-left: 1px solid #092531;
  border-bottom: 0px solid #092531;
  border-radius: 5px 5px 0px 0px;
}
.intro .home-tabs .nav-pills .nav-link:not(.active) {
  border-top: 0px solid #092531;
  border-right: 0px solid #092531;
  border-left: 0px solid #092531;
  border-bottom: 1px solid #092531;
  border-radius: 0px 0px 0px 0px;
}
.intro .home-tabs .tab-content {
  padding-top: 5%;
}
.intro .home-tabs .tab-content .form-group {
  margin: 15px 0px;
}
.intro .home-tabs .tab-content .form-group label {
  color: #000;
  font-weight: bold;
}
.intro .home-tabs .tab-content button {
  background-color: #cb9b4d;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 100%;
  height: 45px;
  border-radius: 5px;
}
.intro .home-tabs .slide2 select {
  margin: 10px 0px;
}
.intro .home-tabs .slide2 .select2 {
  width: 100% !important;
  height: 45px;
}
.intro .home-tabs .slide2 input {
  margin: 10px 0px;
}
.intro .carousel .carousel-caption {
  width: 70%;
  margin: 25% auto 10% auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  padding: 15px;
}
.intro .carousel .carousel-caption h2 {
  font-weight: 600;
  color: #ffffff;
  color: #092531;
}
.intro .carousel .carousel-caption p {
  color: #ffffff;
  margin: 25px 0px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  font-weight: 500;
}
.intro .carousel .carousel-caption a {
  background-color: #092531;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 45px;
  border-radius: 5px;
  color: #fff;
  margin: 15px auto;
}

/*end intro section*/
/*start recently add section*/
.recently-add {
  background-color: #f7f8f8;
  padding: 5% 0%;
}

/*end recently add section*/
/*start featured section*/
.featured {
  background-color: #e9ecec;
  padding: 5% 0%;
}

/*end featured section*/
/*start projects section*/
.projects {
  background-color: #f7f8f8;
  padding: 5% 0%;
}
.projects .standard-card {
  height: 250px;
}
.projects .standard-card .standard-card-img {
  height: 70%;
}

/*end projects section*/
/*start fixed section*/
.fixed-section {
  background-image: url(../../assets/images/fixed-sec.jpg);
  position: relative;
  background-size: cover;
  min-height: 250px;
  background-attachment: scroll;
  background-repeat: no-repeat;
}

.fixed-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 8% 0% 5% 0%;
}
.fixed-overlay h2 {
  text-align: center;
  color: #ffffff;
  font-size: 35px;
  font-weight: bold;
}
.fixed-overlay a {
  display: block;
  padding: 15px 25px;
  max-width: 250px;
  background-color: #092531;
  color: #ffffff;
  margin: 25px auto;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*end fixed section*/
/*start footer section*/
footer {
  background-color: #092531;
  padding: 3% 0% 0% 0%;
}
footer .logo-img {
  width: 200px;
  height: 100px;
}
footer .logo-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .footer-desc {
  color: #ffffff;
  font-size: 15px;
  margin-top: 45px;
  line-height: 1.5;
}
footer .footer-title {
  color: #cb9b4d;
  margin-bottom: 25px;
  font-weight: bold;
}
footer .branch-details {
  color: #ffffff;
  margin: 25px 0px;
}
footer .branch-details p {
  margin: 10px 0px;
  font-size: 15px;
}
footer .branch-details a {
  color: #ffffff;
  font-size: 15px;
}
footer .footer-contact .footer-contact-info {
  display: flex;
}
footer .footer-contact .footer-contact-info p {
  color: #ffffff;
  margin-right: 5px;
}
footer .footer-contact .footer-contact-info a {
  color: #ffffff;
}
footer .news-letter form {
  display: flex;
  margin-bottom: 45px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 35px;
  direction: ltr;
}
footer .news-letter form input {
  border-radius: 5px 0px 0px 5px;
}
footer .news-letter form button {
  background-color: #cb9b4d;
  border-radius: 0px 5px 5px 0px;
  background-color: #cb9b4d;
  color: #ffffff;
}
footer .footer-social {
  display: flex;
  justify-content: space-between;
}
footer .footer-social .facebook {
  background-color: #3b5998;
  color: #fff;
}
footer .footer-social .facebook:hover {
  color: #3b5998;
}
footer .footer-social .instagram {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  color: #fff;
}
footer .footer-social .instagram:hover {
  color: #bc1888;
  background: #ffffff;
}
footer .footer-social .twitter {
  background-color: #1da1f2;
  color: #fff;
}
footer .footer-social .twitter:hover {
  color: #1da1f2;
}
footer .footer-social .youtube {
  background-color: #fe0000;
  color: #fff;
}
footer .footer-social .youtube:hover {
  color: #fe0000;
}
footer .footer-social .linked-in {
  background-color: #0077b5;
  color: #fff;
}
footer .footer-social .linked-in:hover {
  color: #0077b5;
}
footer .footer-social .whatsapp {
  background-color: #4dc247;
  color: #fff;
}
footer .footer-social .whatsapp:hover {
  color: #4dc247;
}
footer .rights {
  background-color: #cb9b4d;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  padding-top: 15px;
  color: #000;
  font-weight: 500;
  font-size: 15px;
}
footer .rights a {
  color: #ffffff;
}

/*end footer section*/
/*start projects page*/
.sub-intro {
  background: linear-gradient(rgba(0, 0, 0, 0.168627451), rgba(0, 0, 0, 0.3607843137)), url(../../assets/images/property.jpg) no-repeat bottom;
  padding: 8% 0%;
  background-size: cover;
}
.sub-intro .sub-intro-content {
  display: flex;
  justify-content: space-between;
}
.sub-intro .sub-intro-content h1 {
  color: #ffffff;
  font-size: 45px;
  font-weight: bold;
}
.sub-intro .breadcrumb .breadcrumb-item {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}
.sub-intro .breadcrumb .breadcrumb-item a {
  color: #ffffff;
}

/*start search section*/
.search-section {
  background-color: #cb9b4d;
  padding: 3% 0% 1% 0%;
  margin-bottom: 5%;
}
.search-section label {
  color: #ffffff;
  font-weight: bold;
}
.search-section .search-sec-btn {
  margin: 45px auto 15px auto;
  width: 200px;
  height: 45px;
  background-color: #092531;
  color: #ffffff;
  display: block;
}
.search-section .search-sec-btn:hover {
  background-color: #092531;
  color: #ffffff !important;
}

.projects-slider {
  padding: 5% 0%;
  margin: 2% 0%;
}
.projects-slider .project-slider .project-title {
  display: flex;
  margin-bottom: 25px;
  text-align: left;
}
.projects-slider .project-slider .project-title h4 {
  color: #cb9b4d;
  font-size: 25px;
  margin-right: 10px;
  font-weight: 500;
}
.projects-slider .project-slider .project-title a {
  color: #3a464e;
  text-decoration: underline !important;
  font-size: 19px;
  padding-top: 3px;
}
.projects-slider .project-slider .proj-slider {
  direction: ltr !important;
}
.projects-slider .project-slider .proj-slider .standard-card {
  width: 95%;
  margin-right: 10px;
  height: 250px;
}
.projects-slider .project-slider .proj-slider .standard-card .standard-card-img {
  height: 70%;
}
.projects-slider .slick-prev {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.15);
  color: #ffffff;
  left: -45px;
}
.projects-slider .slick-next {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.15);
  color: #ffffff;
  right: -45px;
}

/*end projects page*/
/*start more projects page*/
.more-projects {
  margin-bottom: 5%;
}
.more-projects .standard-card .standard-card-img {
  height: 70%;
}

/*end more projects page*/
/*start identity page*/
.identity {
  margin: 5% 0%;
}
.identity .identity-title {
  text-align: center;
  font-size: 31px;
  font-weight: 600;
  margin-bottom: 35px;
}
.identity h4 {
  font-weight: bold;
  color: #3a464e;
  margin-bottom: 15px;
}
.identity p {
  color: #3a464e;
  font-weight: 500;
  font-size: 18px;
}

/*end identity page*/
/*start contact page*/
.contact-intro {
  background: linear-gradient(rgba(0, 0, 0, 0.168627451), rgba(0, 0, 0, 0.3607843137)), url(../../assets/images/home-contact.jpg) no-repeat center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 350px;
  padding-top: 10%;
}

.contact-info {
  background: rgba(9, 37, 49, 0.9411764706) url(../../assets/images/contact-bg.png) no-repeat bottom;
  background-size: cover;
  padding: 3% 0%;
}
.contact-info .contact-card {
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}
.contact-info .contact-card .main-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-size: 23px;
  margin-bottom: 15px;
}
.contact-info .contact-card h4 {
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 15px;
}
.contact-info .contact-card a {
  color: #ffffff;
}
.contact-info .contact-card .social-contact {
  display: flex;
}
.contact-info .contact-card .social-contact a {
  margin: 0px 8px;
  color: #ffffff;
}

.contact-details {
  background-color: #f7f8f8;
  padding: 3% 0%;
}
.contact-details .contact-form {
  background-color: #ffffff;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 3px;
}
.contact-details .contact-form form .form-group {
  margin: 18px 0px;
}
.contact-details .contact-form form .form-group label {
  color: #092531;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: bold;
}
.contact-details .contact-form form .textarea {
  border: 1px solid #ccc !important;
  margin-bottom: 18px;
}
.contact-details .contact-form form button {
  background-color: #092531;
  color: #ffffff;
  padding: 8px 30px;
  text-align: center;
  border-radius: 5px;
}

/*end contact page*/
/*start blog page*/
.blogs {
  background-color: #e9ecec;
  padding: 8% 0%;
}
.blogs .blog-card {
  width: 100%;
  height: 350px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 25px;
  transition: all 0.3s ease-in;
}
.blogs .blog-card:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
.blogs .blog-card .blog-card-link {
  display: block;
  width: 100%;
  height: 100%;
}
.blogs .blog-card .blog-card-link .blog-card-img {
  width: 100%;
  height: 60%;
}
.blogs .blog-card .blog-card-link .blog-card-img img {
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0px 0px;
}
.blogs .blog-card .blog-card-link .date-time {
  display: flex;
}
.blogs .blog-card .blog-card-link .date-time p {
  color: rgba(0, 0, 0, 0.3);
  margin: 10px 5px;
  font-weight: 500;
}
.blogs .blog-card .blog-card-link h4 {
  color: #000;
  padding: 0px 5px;
  font-weight: 600;
  font-size: 21px;
}

/*end blog page*/
/*start property pages*/
.property-intro {
  background: linear-gradient(rgba(0, 0, 0, 0.168627451), rgba(0, 0, 0, 0.3607843137)), url(../../assets/images/property-bg.jpg) no-repeat bottom;
  background-size: cover;
}

.property-section {
  margin-bottom: 0px;
}

.range-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 8px;
}
.range-row .col-range {
  width: 48%;
}

.full-property-section {
  background-color: #f7f8f8;
  padding: 4% 0%;
}

.property-select {
  width: 100%;
  margin: 2% 0%;
}
.property-select span {
  color: #3a464e;
  margin-bottom: 25px;
}
.property-select select {
  margin: 15px 0px 50px 0px;
}

/*end property pages*/
/*start article page*/
.article-intro {
  background-image: url(../../assets/images/article-bg.jpg);
  margin-bottom: 5%;
}
.article-intro h1 {
  width: 80%;
}
.article-intro nav {
  display: flex;
  align-items: flex-end;
}

.articles .article-details {
  padding: 0px 2%;
}
.articles .article-details h1 {
  margin: 0px 0px 35px 0px;
  font-size: 32px;
  font-weight: 600;
}
.articles .article-details .article-img {
  width: 80%;
  height: 350px;
  margin: 25px auto;
}
.articles .article-details .article-img img {
  width: 100%;
  height: 100%;
}
.articles .article-details p {
  font-weight: 500;
  margin-bottom: 35px;
}
.articles .article-categories {
  margin-bottom: 15%;
}
.articles .article-categories h3 {
  margin-bottom: 15px;
  font-weight: bold;
}
.articles .article-categories ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.articles .article-categories ul li a {
  color: #092531;
}
.articles .popular-articles h3 {
  margin-bottom: 35px;
  font-weight: bold;
}
.articles .popular-articles .popular-article-card {
  margin-bottom: 25px;
}
.articles .popular-articles .popular-article-card .popular-article-link {
  display: flex;
  color: #3a464e;
}
.articles .popular-articles .popular-article-card .popular-article-link .popular-article-img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.articles .popular-articles .popular-article-card .popular-article-link .popular-article-img img {
  width: 100%;
  height: 100%;
}
.articles .popular-articles .popular-article-card .popular-article-link h4 {
  padding-top: 5px;
  margin-bottom: 10px;
  color: #092531;
  font-size: 19px;
}
.articles .popular-articles .popular-article-card .popular-article-link .article-date {
  font-size: 14px;
  color: #092531;
}

/*end article page*/
/*start single project page*/
.single-project {
  background-color: #e9ecec;
  padding: 5% 0%;
}
.single-project .single-project-details .single-item {
  background-color: #fff;
  border-radius: 5px;
  padding: 25px 0px;
  margin-bottom: 25px;
}
.single-project .single-project-details .single-item h2 {
  font-weight: 500;
  color: #3a464e;
  padding: 0px 20px;
  margin-bottom: 25px;
}
.single-project .single-project-details .single-item p {
  padding: 0px 21px;
}
.single-project .single-project-details .single-item .single-item-locaion {
  display: flex;
  color: #3a464e;
  margin-bottom: 25px;
  padding: 0px 21px;
}
.single-project .single-project-details .single-item .single-item-locaion span {
  margin-left: 10px;
}
.single-project .single-project-details .single-item .gallary .gallary-title {
  display: flex;
  padding: 0px 10px;
  position: relative;
}
.single-project .single-project-details .single-item .gallary .gallary-title::after {
  content: "";
  width: 145px;
  height: 4px;
  background-color: #000;
  display: block;
  position: absolute;
  bottom: 0px;
}
.single-project .single-project-details .single-item .gallary .gallary-title span {
  margin-right: 5px;
}
.single-project .single-project-details .single-item .gallary .gallary-title h6 {
  font-size: 15px;
  font-weight: 600;
  padding-top: 2px;
}
.single-project .single-project-details .single-item .gallary .slider-for .item {
  width: 100%;
  height: 400px;
  margin-bottom: 25px;
}
.single-project .single-project-details .single-item .gallary .slider-for .item img {
  width: 100%;
  height: 100%;
}
.single-project .single-project-details .single-item .gallary .slider-nav .item {
  width: 90px;
  height: 90px;
}
.single-project .single-project-details .single-item .gallary .slider-nav .item img {
  width: 100%;
  height: 100%;
}
.single-project .single-project-details .single-item .projects-tabs {
  border: 1px solid #ddd;
  padding: 25px 10px;
  width: 98%;
  margin: 25px auto;
}
.single-project .single-project-details .single-item .projects-tabs .nav-pills {
  width: 100%;
  margin-bottom: 35px !important;
}
.single-project .single-project-details .single-item .projects-tabs .nav-pills .nav-item {
  width: 33%;
  text-align: center;
}
.single-project .single-project-details .single-item .projects-tabs .nav-pills .nav-link {
  color: #3a464e;
  font-weight: bold;
}
.single-project .single-project-details .single-item .projects-tabs .nav-pills .nav-link.active {
  background-color: transparent;
  border-top: 1px solid #092531;
  border-right: 1px solid #092531;
  border-left: 1px solid #092531;
  border-bottom: 0px solid #092531;
  border-radius: 5px 5px 0px 0px;
}
.single-project .single-project-details .single-item .projects-tabs .nav-pills .nav-link:not(.active) {
  border-top: 0px solid #092531;
  border-right: 0px solid #092531;
  border-left: 0px solid #092531;
  border-bottom: 1px solid #092531;
  border-radius: 0px 0px 0px 0px;
}
.single-project .single-project-details .single-item .projects-tabs p {
  padding: 0px;
}
.single-project .single-project-details .single-item .item-ul {
  padding: 0px 21px;
}
.single-project .single-project-details .single-item .item-ul ul {
  -moz-columns: 2;
       columns: 2;
}
.single-project .single-project-details .single-item .item-ul ul li {
  color: #556878;
  margin-bottom: 10px;
  font-weight: 500;
}
.single-project .single-project-details .single-item .item-ul ul li span {
  color: #092531;
  margin-right: 10px;
}
.single-project .single-project-form {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
}
.single-project .single-project-form h4 {
  color: #464646;
  font-weight: 500;
}
.single-project .single-project-form form label {
  color: #464646;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 15px;
}
.single-project .single-project-form form .form-group {
  margin: 15px 0px;
}
.single-project .single-project-form form button {
  width: 80%;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #092531;
  color: #ffffff;
  margin: 35px auto 25px auto;
  font-size: 16px;
  border-radius: 5px;
}
.single-project .featured-projects-slider {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 25px 0px;
}
.single-project .featured-projects-slider h4 {
  color: #464646;
  font-weight: 500;
  margin-bottom: 25px;
}
.single-project .featured-projects-slider .project-sub-slider-img {
  width: 100%;
  height: 250px;
}
.single-project .featured-projects-slider .project-sub-slider-img img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.single-project .featured-projects-slider h5 {
  color: #3a464e;
  text-align: center;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 500;
}

/*end single project page*/
/*start register page*/
.partnership {
  background-color: #f7f8f8 !important;
  padding: 5% 0%;
}
.partnership .partnership-form {
  width: 55%;
  margin: 0% auto;
  padding: 15px 10px;
}
.partnership .partnership-form p {
  font-size: 15px;
  color: #3a464e;
}
.partnership .partnership-form p a {
  font-weight: bold;
  color: #3a464e;
  font-size: 16px;
}
.partnership .partnership-form h2 {
  font-size: 41px;
  font-weight: 500;
  color: #3a464e;
}
.partnership .partnership-form .partnership-form-details {
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  padding: 25px;
  border-radius: 5px;
}
.partnership .partnership-form .partnership-form-details form .form-group {
  margin: 35px 0px;
}
.partnership .partnership-form .partnership-form-details form .form-group label {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 15px;
}
.partnership .partnership-form .partnership-form-details form button {
  background-color: #092531;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 10px 30px;
}
.partnership .partnership-form .partnership-form-details .conditions {
  margin: 25px 0px;
  color: #3a464e;
}
.partnership .partnership-form .partnership-form-details .partnership-social {
  border-top: 1px solid #cb9b4d;
  padding-top: 15px;
}
.partnership .partnership-form .partnership-form-details .partnership-social h5 {
  margin: 10px 0px 15px 0px;
}
.partnership .partnership-form .partnership-form-details .partnership-social .form-social {
  display: flex;
}
.partnership .partnership-form .partnership-form-details .partnership-social .form-social a {
  border: 1px solid #cb9b4d;
  color: #cb9b4d;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin: 0px 10px;
  border-radius: 50%;
  font-size: 22px;
  transition: all 0.3s ease-in;
}
.partnership .partnership-form .partnership-form-details .partnership-social .form-social a:hover {
  background-color: #cb9b4d;
  color: #ffffff;
}

/*end resgister page*/
/*start profile page*/
.profile {
  padding: 5% 0px;
  background-color: #f7f8f8;
}
.profile .profile-card {
  background-color: #ffffff;
  border-radius: 5px;
}
.profile .profile-card .profile-info {
  width: 100%;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #092531;
  color: #ffffff;
  border-radius: 5px;
}
.profile .profile-card .profile-info .profile-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.4);
  margin-top: -50px;
  margin-bottom: 15px;
}
.profile .profile-card .profile-info .profile-img img {
  width: 100%;
  height: 100;
  border-radius: 50%;
}
.profile .profile-card .profile-info h3 {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 600;
}
.profile .profile-card .user-list ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: all 0.3s ease-in;
  font-size: 15px;
}
.profile .profile-card .user-list ul li:hover {
  background-color: #deebf2;
  font-size: 15px;
  font-weight: 500;
}
.profile .profile-card .user-list ul li a {
  color: #3a464e;
}
.profile .profile-card .user-list ul li a span {
  margin: 0px 5px;
}
.profile .my-account-title {
  border-radius: 5px 5px 0px 0px;
  background-color: #cb9b4d;
  color: #ffffff;
  display: flex;
  align-items: center;
  height: 50px;
  margin-bottom: 15px;
}
.profile .my-account-title h2 {
  font-size: 21px;
  margin: 0px 10px;
}
.profile .profile-identity {
  background-color: #ffffff;
  border-radius: 5px;
}
.profile .my-account form {
  padding-bottom: 25px;
}
.profile .my-account form .form-group {
  margin: 12px 0px;
}
.profile .my-account form .form-group label {
  margin-bottom: 5px;
  color: #3a464e;
  font-weight: bold;
  font-size: 15px;
}
.profile .my-account form .form-group input {
  border: 1px solid #ccc;
}
.profile .my-account form button {
  background-color: #092531;
  color: #ffffff;
  width: 125px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 15px auto;
}
.profile .profile-table {
  padding: 10px;
}
.profile .profile-booking #example_info {
  display: none;
}
.profile .charge-points {
  display: flex;
  height: 80px;
  width: 100%;
  justify-content: space-between;
}
.profile .charge-points .points-num {
  margin-top: 10px;
}
.profile .charge-points a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #092531;
  color: #ffffff;
  width: 125px;
  height: 45px;
  border-radius: 5px;
}
.profile .points-payment {
  padding: 10px;
}
.profile .points-payment h3 {
  margin: 10px 15px 25px 10px;
  font-weight: bold;
  color: #3a464e;
}
.profile .points-payment .payment-packages .payment-package-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 15px;
  min-height: 450px;
  margin-bottom: 25px;
}
.profile .points-payment .payment-packages .payment-package-card h4 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #cb9b4d;
}
.profile .points-payment .payment-packages .payment-package-card p {
  margin: 10px 0px;
  text-align: center;
  font-size: 15px;
}
.profile .points-payment .payment-packages .payment-package-card h5 {
  color: #092531;
}
.profile .points-payment .payments-methods .payment-method-card {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.profile .points-payment .payments-methods .payment-method-card img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.profile .points-payment button {
  width: 120px;
  height: 45px;
  background-color: #092531;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 25px auto;
}
.profile .profile-property-tabs .nav-pills {
  width: 100%;
  margin-bottom: 25px;
}
.profile .profile-property-tabs .nav-pills .nav-item {
  width: 20%;
  text-align: center;
}
.profile .profile-property-tabs .nav-pills .nav-link {
  color: #3a464e;
}
.profile .profile-property-tabs .nav-pills .nav-link.active {
  background-color: transparent;
  border-top: 1px solid #092531;
  border-right: 1px solid #092531;
  border-left: 1px solid #092531;
  border-bottom: 0px solid #092531;
  border-radius: 5px 5px 0px 0px;
}
.profile .profile-property-tabs .nav-pills .nav-link:not(.active) {
  border-top: 0px solid #092531;
  border-right: 0px solid #092531;
  border-left: 0px solid #092531;
  border-bottom: 1px solid #092531;
  border-radius: 0px 0px 0px 0px;
}
.profile .profile-property-tabs .tab-content {
  padding-top: 5%;
}

/*end profile page*/
/*start add properrty page*/
.add-property-sec {
  padding: 5% 0%;
  background-color: #f7f8f8;
}
.add-property-sec h2 {
  margin-bottom: 25px;
}
.add-property-sec form label {
  color: #3a464e;
  margin-bottom: 5px;
  font-weight: bold;
}
.add-property-sec form input {
  margin-bottom: 35px;
  background-color: #ffffff;
}
.add-property-sec form select {
  margin-bottom: 35px;
  background-color: #ffffff;
}
.add-property-sec form .row > * {
  padding-left: 5px;
}
.add-property-sec form .first-row {
  margin-bottom: 5%;
  border-bottom: 1px solid #3a464e;
  padding: 45px 10px;
  display: flex;
  justify-content: space-between;
}
.add-property-sec form .first-row .form-group {
  flex-wrap: wrap;
  width: 33, 33%;
}
.add-property-sec form .first-row .form-group label {
  display: block;
}
.add-property-sec form .first-row .form-group .select2-container {
  width: 260px !important;
}
.add-property-sec form .second-row {
  border-bottom: 1px solid #3a464e;
  padding: 45px 10px;
}
.add-property-sec form .second-row .Location-search {
  margin-bottom: 55px;
}
.add-property-sec form .third-row {
  border-bottom: 1px solid #3a464e;
  padding: 45px 10px;
}
.add-property-sec form .third-row textarea {
  margin-bottom: 18px;
}
.add-property-sec form .third-row .facilities {
  -moz-columns: 2;
       columns: 2;
}
.add-property-sec form .third-row .facilities .form-check {
  margin-bottom: 25px;
}
.add-property-sec form .third-row .facilities .form-check input {
  float: left;
}
.add-property-sec form .third-row .facilities .form-check label {
  margin-left: 25px;
}
.add-property-sec form .third-row .Services {
  -moz-columns: 2;
       columns: 2;
}
.add-property-sec form .third-row .Services .form-check {
  margin-bottom: 18px;
}
.add-property-sec form .third-row .Services .form-check input {
  float: left;
}
.add-property-sec form .fourth-row {
  padding: 45px 10px;
}
.add-property-sec form .fourth-row .image_box {
  margin-bottom: 35px;
}
.add-property-sec form .fourth-row .image_box a {
  color: #ffffff;
}
.add-property-sec form .fourth-row .youtube-text {
  font-weight: bold;
  margin-bottom: 15px;
}
.add-property-sec form button {
  color: #ffffff;
  background-color: #092531;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 45px;
  margin: 25px auto;
}

/*end add property page*/
@media (max-width: 767px) {
  /*start index page*/
  /*start header section*/
  header .header-details {
    display: none;
  }
  header nav {
    margin-top: 25px;
  }
  header .mobile-header-details {
    display: flex;
  }
  header nav {
    background-color: #092531;
  }
  header nav .navbar-brand {
    display: inline-block;
    width: 50%;
    height: 80px;
  }
  header nav .navbar-brand img {
    width: 100%;
    height: 100%;
  }
  /*end header section*/
  /*start intro section*/
  .intro .carousel {
    margin-top: 15%;
    min-height: 80vh;
  }
  .intro .carousel .carousel-inner {
    min-height: 80vh;
  }
  .intro .carousel .carousel-inner .carousel-item {
    min-height: 80vh;
  }
  .intro .carousel .carousel-inner .carousel-item img {
    width: 100%;
    min-height: 80vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .intro .carousel .carousel-caption {
    left: 3%;
    right: 3%;
    width: 95%;
    margin: 25% 0 0% 0;
  }
  /*end intro section*/
  /*start fixed section*/
  .fixed-section {
    background-size: contain;
    padding-top: 5%;
    min-height: 270px;
  }
  .fixed-section .fixed-overlay h2 {
    margin-top: 35px;
  }
  /*end fixed section*/
  footer .footer-social {
    margin: 15px 0px;
  }
  footer .footer-social a {
    margin: 0px 3px;
    width: 35px;
    height: 35px;
    font-size: 21px;
  }
  footer .rights p {
    text-align: center;
  }
  /*end index page*/
  /*start blog page*/
  .sub-intro-content {
    flex-wrap: wrap;
  }
  .sub-intro-content nav {
    display: flex;
    align-items: center;
  }
  /*eng blog page*/
  /*start contact page*/
  .contact-intro {
    min-height: 185px;
  }
  .contact-form {
    margin: 15px 0px;
  }
  /*end contact page*/
  /*start article page*/
  .article-intro h1 {
    width: 100%;
    font-size: 35px;
  }
  .articles .article-details .article-img {
    width: 100% !important;
  }
  /*end article page*/
  /*start add new property page*/
  .add-property-sec form .first-row {
    flex-wrap: wrap;
  }
  .add-property-sec form .first-row .form-group {
    margin-bottom: 15px !important;
  }
  .add-property-sec form .third-row .facilities .form-check label, .add-property-sec form .third-row .Services .form-check label {
    margin-left: 0px !important;
  }
  /*end add new property page*/
}
@media (min-width: 768px) and (max-width: 991px) {
  /*start header section*/
  header .header-details {
    display: none;
  }
  header nav {
    margin-top: 25px;
  }
  header nav .navbar-collapse {
    text-align: center;
  }
  header nav .navbar-collapse .nav-item {
    margin: 10px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.04);
    padding-bottom: 8px;
  }
  header nav .navbar-collapse .nav-item .nav-link {
    color: rgb(131, 136, 147);
  }
  header .mobile-header-details {
    display: flex;
    padding: 10px 11%;
  }
  header nav {
    background-color: #092531;
  }
  header nav .navbar-brand {
    display: inline-block;
    width: 30%;
    height: 80px;
  }
  header nav .navbar-brand img {
    width: 100%;
    height: 100%;
  }
  /*end header section*/
  /*start footer section*/
  footer .footer-social a {
    width: 35px !important;
    height: 35px !important;
    margin-right: 5px;
    font-size: 19px !important;
  }
  /*end footer section*/
  /*start add new property page*/
  .add-property-sec form .first-row {
    flex-wrap: wrap;
  }
  .add-property-sec form .first-row .form-group {
    margin-bottom: 15px !important;
  }
  .add-property-sec form .third-row .facilities .form-check label {
    margin-left: 0px !important;
  }
  /*end add new property page*/
  /*start project page*/
  .projects-slider .slick-prev {
    left: -35px !important;
  }
  .projects-slider .slick-next {
    right: -35px !important;
  }
  /*end project page*/
}
@media (min-width: 992px) and (max-width: 1300px) {
  /*start header section*/
  header .header-details .website-logo {
    width: 19% !important;
  }
  header nav .nav-item .nav-link {
    padding: 15px 5px !important;
  }
  /*end header section*/
  /*start intro section*/
  .intro .nav-pills .nav-link {
    font-size: 15px !important;
  }
  /*end intro section*/
}/*# sourceMappingURL=style-ltr.css.map */